body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

header {
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* THIS IS THE MAIN HEADER TITLE */
.main-header {
  text-align: center;
}

/* MAIN CONTENT DIV BOX */
.main-content {
  margin: 0 20%;
  border: 2px solid blue;
}

/* THIS IS THE INPUT BOX AND BUTTON */
form {
  text-align: center;
}

/* THIS IS THE H2 TITLE HEADERS FOR CITY, TEMPERTURE, WEATHER, DESCRIPTION */
h2 {
  text-align: center;
}

/* MODAL BOX STYLING - From Brendan's lesson */
#modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left:0;
  height:100%;
  width: 100%;
  z-index: 1;   /*Per notes this puts modal in front of the body...usually has default of 0*/
  overflow: auto;
}

#modal-textbox {
  background-color: white;
  height: 375px;
  width: 400px;
  border-radius: 5px;
  margin: 150px auto;
  padding: 25px;
}
