body {
  background-color: #00BBFF;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

/* Fonts - Roboto - HEADERS
Roboto Condensed - paragraphs */
/*https://coolors.co/9fddff-00bbff-00a5ff-125e3b-686868 */

header {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

#logo {
  height: 80px;
  width: 160px;
  margin: 10px;
}

#openModal {
  padding: 3px 10px 3px 10px;
  letter-spacing: 1px;
  margin:10px;
  border-radius: 3px;
  border: 2px solid #00BBFF;
  background-color: #00A5FF;
  color: white;
  font-weight: bold;
  font-size: 1em;
}

#openModal:hover {
  color: #00A5FF;
  background-color: #fff;
  border: 2px solid #00BBFF;
}

/* THIS IS THE MAIN HEADER TITLE */
.main-header {
  text-align: center;
  padding: 35px;
  letter-spacing: 1px;
}

/* MAIN CONTENT DIV BOX */
.main-content {
  margin: 0 20%;
  border: 2px solid #00A5FF;
  border-radius: 5px;
  background-color: white;
  padding: 40px;
}

/* THIS IS THE INPUT BOX AND BUTTON */
form {
  text-align: center;
}

/* MAIN INPUT BOX */
#userInput1 {
  padding: 10px 50px;
  border-radius: 5px;
}


#mainbtn {
  padding: 5px;
  border-radius: 3px;
  color: #FFF;
  background-color: #00BBFF;
  font-size: 1em;
  display: block;
  margin: 15px auto;
}
/* THIS IS THE H2 TITLE HEADERS FOR CITY, TEMPERTURE, WEATHER, DESCRIPTION */
h2 {
  text-align: center;
}

/* MODAL BOX STYLING - From Brendan's lesson */
#modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left:0;
  height:100%;
  width: 100%;
  z-index: 1;   /*Per notes this puts modal in front of the body...usually has default of 0*/
  overflow: auto;
}

#modal-textbox {
  background-color: white;
  height: 300px;
  width: 400px;
  border-radius: 5px;
  margin: 150px auto;
  padding: 25px;
}

/* Header in the Modal */
h3 {
  text-align: center;
  font-weight: bold;
}

.facts {
  text-align: right;
  font-size: .75em;
  margin-right: 30px;
}

/* This is the div that contains the close button */
#modal-footer {
  text-align: center;
  padding: 3px 5px;
}

#close {
  padding: 10px 15px;
  background-color: #00BBFF;
  margin-top: 25px;
  border-radius: 3px;
  font-family: "Roboto";
  color: white;
  font-size: 1em;
}
